.title {
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #414141;
}

.title_h1 {
  font-size: 24px;
  line-height: 36px;
}

.title_h2 {
  font-size: 22px;
  line-height: 33px;
}

.title_h3 {
  font-size: 20px;
  line-height: 30px;
}

